@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
@font-face {
  font-family: 'Formula Condensed';
  src: url(/assets/FormulaCondensed-Bold.otf);
}

.horizontal-centering {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.centering-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFFFFF;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

li {
  list-style: none;
}

.footer {
  width: 100%;
}

.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer__container .footer__container--first-column {
  width: 350px;
  margin-top: 20px;
  text-align: center;
}

.footer .footer__container .footer__container--first-column img {
  width: 350px;
}

.footer .footer__container .footer__container--second-column {
  width: 600px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer__container .footer__container--second-column .second-column--text {
  font-size: 10px;
}

.footer .footer__container .footer__container--thirdth-column {
  width: 600px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer__container .footer__container--thirdth-column .thirdth-column--text {
  font-size: 10px;
  margin: 8px 0;
}

.footer .footer__container .footer__container--thirdth-column .thirdth-column--link .link--img {
  margin: 0 8px;
  width: 20px;
}

.second-column--text a {
  -webkit-transition: 450ms all;
  transition: 450ms all;
}

.second-column--text:hover, a:hover {
  color: #F5DF4D;
}

.footer__copyright--text {
  font-size: 10px;
  margin: 0 0 0 55%;
  text-align: end;
  width: 600px;
}
/*# sourceMappingURL=footer-styles.css.map */