<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/config-styles.css">
    <link rel="stylesheet" href="/css/footer-styles.css">
    <title> :: RUDA IND :: </title>
</head>
<body>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__container--first-column">
                <img src="/images/logo-blanco.png" alt="Logo RUDA IND footer">
            </div>
            <div class="footer__container--second-column">
                <p class="second-column--text"><a href="#" target="_blank">como comprar</a></p>
                <p  class="second-column--text"><a href="#" target="_blank">tabla de medidas</a></p>
                <p class="second-column--text"><a href="#" target="_blank">envios</a></p>
                <p class="second-column--text"><a href="#" target="_blank">seguí tu pedido</a></p>
                <p class="second-column--text"><a href="#" target="_blank">politica de devoluciones</a></p>
                <p  class="second-column--text"><a href="#" target="_blank">contacto</a></p>
                <p class="second-column--text"><a href="#" target="_blank">sobre ruda</a></p>
                <p class="second-column--text"><a href="#" target="_blank">ayuda</a></p>
            </div>
            <div class="footer__container--thirdth-column">
                <p class="thirdth-column--text">Buenos Aires, Argentina</p>
                <a class="thirdth-column--link" href="https://www.instagram.com/ruda_ind/" target="_blank">
                    <img  class="link--img" src="/images/instagram.svg" alt="Ir a Instagram">instagram
                </a>
                <a class="thirdth-column--link" href="#" target="_blank">
                    <img class="link--img" src="/images/facebook.svg" alt="Ir a Facebbok ">facebook
                </a>
                <a class="thirdth-column--link" href="https://api.whatsapp.com/send?phone=1138553034" target="_blank">
                    <img   class="link--img"src="/images/whatsapp.svg" alt="Chatear por Whatsapp">whatsapp
                </a>
            </div>
            </div>
            <p class="footer__copyright--text">Copyright 2021 disg & dev by <a href="https://www.linkedin.com/in/laualt/"><img src="/images/lau-alt-logo.png"
                alt="Linkedin de la diseñadora y desarrolladora de este sitio."></a>
            </p>
    </footer>
</body>
</html>