<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/header-styles.css">
    <title> :: RUDA IND ::</title>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <a href="https://www.instagram.com/ruda_ind/">
                <p class="header__container--text">Instagram</p>
            </a>
            <a href="#home">
                <img class="header__container--img" src="/images/logo-blanco.png">
            </a>
            <a href="https://api.whatsapp.com/send?phone=1138553034">
                <p class="header__container--text">whatsapp</p>
            </a>
        </div>
    </header>
</body>
</html>